<a href="https://colab.research.google.com/github/evaristo2020/Python-Clases-UTEC-2025/blob/main/%5B3%5D_Progama_Python_UTEC_Sesion03_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [1] Tuplas

### [1.1] Tuplas a partir de un DataFrame

In [ ]:
import pandas as pd
data = pd.read_csv("clientes.csv",sep=';')
dimensiones = data.shape # Conocer las dimensiones del DataFrame

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
# Tipo de dato del objeto dimensiones
type(dimensiones)

tuple

In [ ]:
print(f"La tupla dimensiones es \n{dimensiones}")

La tupla dimensiones es
(8, 5)

In [ ]:
# 8: número de filas
# 5: número de columnas

### [1.2] Tuplas a partir de enumerate

In [ ]:
paises = ['perú','colombia','venezuela','ecuador','chile']

for i,pais in enumerate(paises):
  print((i,pais))

(0, 'perú')
(1, 'colombia')
(2, 'venezuela')
(3, 'ecuador')
(4, 'chile')

### [1.3] Tuplas a partir de librería os

In [ ]:
import os

ruta = "/home/usuario/archivo.txt"
resultado = os.path.split(ruta)
print(resultado)

('/home/usuario', 'archivo.txt')

In [ ]:
type(resultado)

tuple

In [ ]:
ruta_ = "C:/David/Administrativos/HES/Abril25/Estados_Pagos/Reporte Estado Pago - MLE - Abril 2025.pdf"

In [ ]:
resultado_ = os.path.split(ruta_)
print(resultado_)

('C:/David/Administrativos/HES/Abril25/Estados_Pagos', 'Reporte Estado Pago - MLE - Abril 2025.pdf')

In [ ]:
type(resultado_)

tuple

## [2] Crear tuplas e identificar los tipos de tuplas

In [ ]:
tupla_0 = ('ibk','bcp','bbva')
print(f"La tupla tiene los siguientes elementos \n{tupla_0}")

La tupla tiene los siguientes elementos
('ibk', 'bcp', 'bbva')

In [ ]:
tupla_0 = () # Tupla vacía

In [ ]:
type(tupla_0)

tuple

In [ ]:
# Creado una lista con 1 elemento
lista_0 = [1]
type(lista_0)

list

In [ ]:
# Creado una tupla con 1 elemento (ERROR!)
tup_0 = (1)
type(tup_0)

int

In [ ]:
tupla_1 = (5,) # CORRECTO: Tupla de 1 elemento
type(tupla_1)

tuple

## Actividad N022

Crear una tupla con el nombre “equipos”, los elementos de la tupla serán 5 equipos de fútbol y vamos a mostrar en pantalla el resultado.

In [ ]:
equipos = ("universitario","alianza lima","sporting cristal","sport boys","juan aurich")

print(f"La tupla de equipos de fútbol peruano es \n{equipos}")

La tupla de equipos de fútbol peruano es
('universitario', 'alianza lima', 'sporting cristal', 'sport boys', 'juan aurich')

In [ ]:
print(f"El segundo elemento de la tupla equipos es {equipos[1].capitalize()}")

El segundo elemento de la tupla equipos es Alianza lima

In [ ]:
equipos[1] = 'real madrid'

TypeError: 'tuple' object does not support item assignment

## [3] Tipos de tuplas

In [ ]:
# Tupla homogénea => elementos son del mismo tipo

tupla_2 = (2.0, 2.5, 3.2, 4.3, 4.5, 6.5, 7.0)
print(f"La tupla es \n{tupla_2}")
print(f"\nEl objeto tupla_2 es del tipo {type(tupla_2)}")

## Actividad N023

(2,5.5,'UTEC',True)

Crear una tupla con la información de la imagen superior y nombrar como “info_personal”.
¿Qué tipo de tupla es “info_personal”?

## [4] Acceder a los elementos de las tuplas

In [ ]:
materias = ('química','aritmética','razonamiento verbal','trigonometría','geometría')

In [ ]:
print(f"El tercer elemento de la tupla materias es {materias[2]}")

In [ ]:
type(materias[2])

In [ ]:
materias[1:3]

In [ ]:
type(materias[1:3])

In [ ]:
print(f"La tupla es {tupla_2}")
print(f"El elemento de índice 1 de la tupla es {tupla_2[1]}")

In [ ]:
tupla_4 = (1,2,3,4,5,6,7,8,9,10)

In [ ]:
# Acceder a los elementos de la tupla por operadores de segmentación
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[2:7]}")

In [ ]:
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[-8:-3]}")

In [ ]:
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[7:]}")

In [ ]:
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[0:4]}")

In [ ]:
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[:4]}")

## Actividad N024

Acceder al último elemento de la tupla (“equipos”).

Acceder a los primeros 3 elementos de la tupla (“equipos”).

## [5] Desempaquetado de tuplas

In [ ]:
var_1, var_2 = "UTEC","UPC" # Desempaquetado de dos cadenas de caracteres en dos variables (var_1,var_2)

In [ ]:
print(f"El valor del objeto var_1 es {var_1}")
print(f"El valor del objeto var_2 es {var_2}")

In [ ]:
t_vocales = ("a", "e", "i", "o", "u")
print(f"La tupla vocales es {t_vocales}")

In [ ]:
print(f"La selección de los primeros tres elementos es {t_vocales[0:3]}")

In [ ]:
x, y, z = t_vocales[0:3] # Desempaquetar los elementos de la tupla en 3 variables

In [ ]:
print(f"El primer elemento de la tupla vocales es {x}.")
print(f"El segundo elemento de la tupla vocales es {y}.")
print(f"El tercer elemento de la tupla vocales es {z}.")

In [ ]:
print(f"El primer elemento de la tupla vocales es {t_vocales[0]}.")
print(f"El segundo elemento de la tupla vocales es {t_vocales[1]}.")
print(f"El tercer elemento de la tupla vocales es {t_vocales[2]}.")

In [ ]:
t_vocales[0] = "A" # Tuplas son inmutables

In [ ]:
print(materias)

In [ ]:
mat1,mat2,mat3 = materias[0:3]

In [ ]:
print(f"La primera materia de mi programa es {mat1}")
print(f"La segundo materia de mi programa es {mat2}")
print(f"La tercera materia de mi programa es {mat3}")

## Actividad N025

Desempaquetar los 2 últimos equipos de la tupla (“equipos”) y almacenarlos en los objetos equipo_A y equipo_B.

## [6] Desempaquetado de tuplas con FOR

In [ ]:
t_prod = (("A0001","manzana",3.0),("A0002","aceite",7.5)) # Tupla de tuplas

In [ ]:
print(f"La tupla de productos es \n{t_prod}")

In [ ]:
for cod,prod,pre in t_prod:
  print(f"El producto {prod} con código {cod} tiene el precio vigente en S/.{pre}")

## [7] Función tuple

In [ ]:
pares = tuple(range(2,11,2)) # Función que me permite crear tuplas
print(f"La tupla pares es \n{pares}")

In [ ]:
lista_ = list(range(10)) # Función list me permite crear listas

In [ ]:
print(f"La lista {lista_} es del tipo {type(lista_)}")

In [ ]:
tupla_ = tuple(lista_) # Función tuple me permite crear tuplas, crear una tupla a partir de una lista
print(f"La tupla {tupla_} es del tipo {type(tupla_)}")

In [ ]:
tuple("David")

In [ ]:
tuple("Programa Python")

In [ ]:
tuple("Programa Python")[:8]

In [ ]:
list("Programa Python")

## Actividad N026

In [ ]:
from google.colab import files

# Subir archivo desde tu máquina local
uploaded = files.upload()

In [ ]:
from IPython.display import Image, display

# Mostrar la imagen en Colab
display(Image(filename='minas.png'))

Crear la tupla cobre_prod, esta tupla estará compuesta por la información del cuadro.

## Actividad N027

Desempaquetar la tupla cobre_prod, imprimir en pantalla los siguientes enunciados.